.Homepage-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* THE SEARCH BAR */
.Homepage-div-searchBar{
  border: 1px solid rgba(0, 0, 0);
  padding: 7px 0 7px 14px;
  width: min-content;
  border-radius: 30px 0 0 30px;
}
.Homepage-input{
  border: none;
  border-right: none;
  width: 600px;
  padding: 5px;
  border-radius: 15px 0 0 15px;
  font-size: 14px;
}
.Homepage-input:focus{
  outline: none;
}
.Homepage-div-searchIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  color: white;
  width: 45px;
  background-color: rgb(0, 0, 0);
  border-radius: 0 30px 30px 0;
}

/* THE MAIN BODY */
.Homepage-div-body{
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'col1 col2 col3';
  cursor: default;
}
.Homepage-div-box{
  text-align: center;
  margin-top: 30px;
  border: 1px solid rgb(221, 221, 221);
  width: 270px;
  height: 370px;
  border-radius: 20px;
  font-family: 'Lexend';
  transition: .5s;
}
.Homepage-col-logo{
  transition: .5s;
  font-size: 60px;
  cursor: pointer;
}
.Homepage-col-logo:hover{
  padding: 15px;
  transition: .5s;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.Homepage-h1{
  margin: 15px 0 25px 0;
}
.Homepage-p{
  font-size: 14px;
  margin: 0 20px 0 20px;
  text-align: justify;
}
.Homepage-div-col1{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: col1;
  width: 400px;
}
.Homepage-div-col2{
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: col2;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 400px;
}
.Homepage-div-col3{
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: col3;
  width: 400px;
}
