.SearchResults-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SearchResults-titleSection{
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.SearchResults-titleBox{
  margin: 0 10px;
  transition: .2s;
}
.SearchResults-titleBox:hover{
  transform: scale(1.1);
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: .2s;
}
.SearchResults-title{
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
}
.SearchResults-titleActive{
  border-bottom: 1px solid black;
}