.Navigation-div{
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-areas: 'col1 col2';
  border-bottom: 1px solid black;
  height: 55px;
}
.Navigation-div-navlink{
  grid-area: col1;
  height: 100%;
  display: flex;
  align-items: center;
}
.Navigation-navlink{
  text-decoration: none;
  color: black
}
.Navigation-title{
  margin: 0 0 0 15px;
  letter-spacing: 3px;
}
.Navigation-div-profileButton{
  grid-area: col2;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Navigation-icon{
  color: black;
  margin: 0 0 0 10px;
  font-size: 20px;
}
.profile-dropdown {
  position: absolute;
  transform: translate(-30px, 75px);
  width: 100px;
  list-style: none;
}
.ProfileButton-lists{
  padding: 10px;
  margin: 0;
  border: 1px solid black;
  width: 100%;
  background-color: white;
}